@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.8px;
  background: #eee;
  min-width: 800px;
}

.contains {
  display: flex;
  flex-wrap: wrap;
  contain: content;
  margin-right: 200PX;
  margin-left: 200PX;
  background: #eee;
  min-width: 800px;

}


.top {
  width: 300px;
  height: 80px;

  margin-left: 100px;
  position: fixed;
  justify-content: center;

}

.nav {
  list-style: none !important;
}


.Last1 {
  background: #eee;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 8PX;

}

.Last2 {
  margin-bottom: 10PX;
  background: #eee;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LB {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-top: 100px;


}

.date {
  width: 150px;
  justify-items: end;
}

.FirstB {

  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
  min-width: 100px;
}

.date {
  justify-content: end;
}

.Blog {
  margin-top: 250px;
}


.button {
  --bg: #000;
  --hover-bg: #0012b3;
  --hover-text: #000;
  color: #fff !important;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  cursor: pointer;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:active {
  opacity: 0.5;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #0012b3;
}

.navbar {
  margin-top: 10px;
  position: relative;
  width: 350px;
  min-width: 350px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  background: white;
  color: #000;
  top: 0px;
  z-index: 100;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  position: fixed;


}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li a {
  color: black;
  margin-right: 20px;
  text-decoration: none;
}
