<style>* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.8px;

}

header {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 0px;
  ;
}

.Navbar {
  margin-top: 30px;
}

img {
  width: 40%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li a {
  color: black;
  margin-right: 20px;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

h2 {
  margin-bottom: 20px;
}

p {
  width: 60%;
  text-align: justify;
  margin-bottom: 20px;
}

.KOSM {
  width: 20%;
  min-width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

.Last1 {
  background-color: #white !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 8PX;

}

.Last2 {
  margin-bottom: 10PX;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav li {
  display: inline-block;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
  color: #666666;

}


.Button1 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  opacity: 0.5px;
}

.Somalia {
  margin-bottom: 20px;
}

a:hover {
  color: #0012b3 !important;
  opacity: 0.9;
  transition: 0.15secs;
}

a:active {
  opacity: 0.5;
}


.top {
  justify-content: center;
}


.button {
  --bg: #000;
  --hover-bg: #0012b3;
  --hover-text: #000;
  color: #fff !important;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  cursor: pointer;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

</style>
