@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  font-weight: none;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.8px;
  background-color: #eee;
  contain: content;
  width: 100%;
  height: 100%;
  }

.top {
  justify-content: center;
}

li,
span,
a {
  font-style: 14px;
  color: black !important;
  text-decoration: none;

  letter-spacing: 0.8px;
  opacity: 1;

}



.top {
  width: 300px;
  height: 80px;

  margin-left: 100px;
  position: fixed;


}

.button {
  --bg: #000;
  --hover-bg: #0012b3;
  --hover-text: #000;
  color: #fff !important;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  cursor: pointer;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}




.list-icons li {
  display: inline-block;
  padding-top: 0px;
  padding-right: 10px;
  color: #666666;
}

.TopHalf {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 900px;
  contain: content;
  width: 100%;
}

.TH {
  width: 1900px;
  height: 600px;
  contain: content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;

}

.typing animate {
  margin-top: 400px;
}

.text1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px
}

.ponits1 {
  margin-top: 15px;

}

.me {
  width: 400px;

}

.mainimg {
  width: 500px;
  --s: 10px;
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
}


.left {
  contain: content;
  margin-top: 50px;

}

.tme {
  height: 500px;
  padding-top: 30px;
  width: 500px;
}

.Bottom {
  display: flex;
  justify-content: center;
  letter-spacing: 0.8px;
  font-weight: none;
  flex-wrap: wrap;
  border-radius: 1px;
  width: 100%;
  background-color: #eee;

  contain: content
}

.BottomLeft {
  background-color: transparent;
  contain: content;
  width: 700px;
  max-width: 700px;
  margin-right: 90px;
  border-width: 10px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;


}

.text1 {
  text-align: justify
}

.BottomRight {
  position: relative;
  vertical-align: middle;
  justify-content: center;
  vertical-align: middle;
  background-color: transparent;
  border-width: 10px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;

  height: 200px;

}

:root {
  --radius: 12px;
  --primary-color: #009d71;
  --secondary-color: #4d1c61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crds {
  margin-bottom: 20px;
  padding-top: 40px;
  margin-left: 40px;
  width: 500px;
  height: 200px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  contain: content;
}

.card {
  padding-top: 40px;
  margin-bottom: 10px;
  width: 700px;
  height: 630px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.border-gradient {
  position: relative;
  border-radius: var(--radius);
}

.border-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--radius);
  border-radius: var(--radius) var(--radius) 0 0;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.media {
  display: flex;
  flex-direction: row;
}

.list-icons {
  display: flex;
  flex-direction: row;
  padding: 0%;
  justify-content: space-around;
}

.fa-icon {
  list-style: none;
}

.Last1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 8PX;
  background: #eee;

}

.Last2 {

  padding-bottom: 20px;
  background-color: #eee;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.FM {
  padding-left: 30%;
  width: 100%;
  height: 70px;
}

.BottomLeft div p li {
  font-family: Roboto;
  font-size: 16px;
  color: black;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.typing.animate {
  width: 300px;
  border-right: 0.1em solid black;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 800;
  animation: type 3.5s steps(20), writer 1s infinite alternate, delete 0.6s steps(7) 3.5s, type2 1s steps(4) 3s forwards, type3 3s steps(10, end) 6s forwards;
  overflow: hidden;
  white-space: nowrap;

}

.typing.animate::before {
  content: "Hello, I'm Ozman";
  animation: type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 21ch;
  }
}

@keyframes type2 {
  from {
    width: 16ch;
    content: "Hello, I'm Oman. "
  }

  to {
    width: 20ch;
    content: "Hello, I'm Osman. "
  }
}

@keyframes type3 {
  from {
    width: 20ch;
    content: "Hello, I'm Osman. Welcome to my Website!"
  }

  to {
    width: 42ch;
    content: "Hello, I'm Osman. Welcome to my Website!"
  }
}

@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 21ch;
  }

  to {
    width: 16ch;
  }
}

.Button1 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  opacity: 0.5px;
}

.Somalia {
  margin-bottom: 20px;
}

a:hover {
  color: #0012b3 !important;
  opacity: 0.9;
  transition: 0.15secs;
}

a:active {
  opacity: 0.5;
}


.top {
  justify-content: center;
}


.button {
  --bg: #000;
  --hover-bg: #0012b3;
  --hover-text: #000;
  color: #fff !important;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  cursor: pointer;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  margin-top: 10px;
  position: relative;
  width: 350px;
  min-width: 350px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  background: white;
  color: #000;
  top: 0px;
  z-index: 100;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  position: fixed;


}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.8px;


}

header {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

h1 {
  margin-bottom: 20px;
  margin-top: 0px;
  ;
}

.Navbar {
  margin-top: 30px;
}

img {
  width: 40%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li a {
  color: black;
  margin-right: 20px;
  text-decoration: none;
}

.contain {
  width: 100%;
}
